.pokemon__card,
.skeleton-card {
  background-color: oklch(var(--color-fill));
  border-radius: 8px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  align-items: center;
  transition: scale 0.3s ease;
  position: relative;
  flex: 1 1 150px;
}

.pokemon__card:hover {
  cursor: pointer;
  scale: 1.05;
}

.pokemon__image-container {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon__img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.pokemon__name {
  font-size: 20px;
}
